

.navbar {
  background-color:transparent;
}
.navbar-nav .nav-link {
  font-weight: bold;
}

.imgbg{
  background-image: url(./images/Backgroundimageone.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.back-img{
  background-image: url(./images/background\ image-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}



